@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Crimea, Yalta<br />
    <abbr title="Phone">+7(978)782-23-71</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:IvanKukushkin@bk.ru">IvanKukushkin@bk.ru</a><br />
</address>